<div class="container-fluid my-5 py-5">

    <!-- Section: Block Content -->
    <section>

        <style>
            .footer-hover {
                background-color: rgba(0, 0, 0, 0.1);
                -webkit-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out
            }

            .footer-hover:hover {
                background-color: rgba(0, 0, 0, 0.2)
            }

            .text-black-40 {
                color: rgba(0, 0, 0, 0.4)
            }
        </style>

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 mb-4">

                <!-- Card -->
                <div class="card primary-color white-text">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div>
                            <p class="h2-responsive font-weight-bold mt-n2 mb-0">150</p>
                            <p class="mb-0">New Orders</p>
                        </div>
                        <div>
                            <i class="fas fa-shopping-bag fa-4x text-black-40"></i>
                        </div>
                    </div>
                    <a class="card-footer footer-hover small text-center white-text border-0 p-2">More info<i
                            class="fas fa-arrow-circle-right pl-2"></i></a>
                </div>
                <!-- Card -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 mb-4">

                <!-- Card -->
                <div class="card warning-color white-text">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div>
                            <p class="h2-responsive font-weight-bold mt-n2 mb-0">53 %</p>
                            <p class="mb-0">Bounce Rate</p>
                        </div>
                        <div>
                            <i class="fas fa-chart-bar fa-4x text-black-40"></i>
                        </div>
                    </div>
                    <a class="card-footer footer-hover small text-center white-text border-0 p-2">More info<i
                            class="fas fa-arrow-circle-right pl-2"></i></a>
                </div>
                <!-- Card -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 mb-4">

                <!-- Card -->
                <div class="card light-blue lighten-1 white-text">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div>
                            <p class="h2-responsive font-weight-bold mt-n2 mb-0">44</p>
                            <p class="mb-0">User Registrations</p>
                        </div>
                        <div>
                            <i class="fas fa-user-plus fa-4x text-black-40"></i>
                        </div>
                    </div>
                    <a class="card-footer footer-hover small text-center white-text border-0 p-2">More info<i
                            class="fas fa-arrow-circle-right pl-2"></i></a>
                </div>
                <!-- Card -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 mb-4">

                <!-- Card -->
                <div class="card red accent-2 white-text">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div>
                            <p class="h2-responsive font-weight-bold mt-n2 mb-0">65</p>
                            <p class="mb-0">Unique Visitors</p>
                        </div>
                        <div>
                            <i class="fas fa-chart-pie fa-4x text-black-40"></i>
                        </div>
                    </div>
                    <a class="card-footer footer-hover small text-center white-text border-0 p-2">More info<i
                            class="fas fa-arrow-circle-right pl-2"></i></a>
                </div>
                <!-- Card -->

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </section>
    <!-- Section: Block Content -->

</div>
<div class="container my-5">


    <!-- Section: Block Content -->
    <section>

        <div class="row">
            <div class="col-12">
                <div class="card card-list">
                    <div class="card-header white d-flex justify-content-between align-items-center py-3">
                        <p class="h5-responsive font-weight-bold mb-0">Last Orders</p>
                        <ul class="list-unstyled d-flex align-items-center mb-0">
                            <li><i class="far fa-window-minimize fa-sm pl-3"></i></li>
                            <li><i class="fas fa-times fa-sm pl-3"></i></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Order ID</th>
                                    <th scope="col">Item</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Popularity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row"><a class="text-primary">OR9842</a></th>
                                    <td>Call of Duty IV</td>
                                    <td><span class="badge badge-success">Shipped</span></td>
                                    <td class="pt-2 pb-0"><canvas id="bar" width="40" height="40"></canvas></td>
                                </tr>
                                <tr>
                                    <th scope="row"><a class="text-primary">OR1848</a></th>
                                    <td>Samsung Smart TV</td>
                                    <td><span class="badge badge-warning">Pending</span></td>
                                    <td class="pt-2 pb-0"><canvas id="bar1" width="40" height="40"></canvas></td>
                                </tr>
                                <tr>
                                    <th scope="row"><a class="text-primary">OR7429</a></th>
                                    <td>iPhone 6 Plus</td>
                                    <td><span class="badge badge-danger">Delivered</span></td>
                                    <td class="pt-2 pb-0"><canvas id="bar2" width="40" height="40"></canvas></td>
                                </tr>
                                <tr>
                                    <th scope="row"><a class="text-primary">OR7429</a></th>
                                    <td>Samsung Smart TV</td>
                                    <td><span class="badge badge-info">Processing</span></td>
                                    <td class="pt-2 pb-0"><canvas id="bar3" width="40" height="40"></canvas></td>
                                </tr>
                                <tr>
                                    <th scope="row"><a class="text-primary">OR1848</a></th>
                                    <td>Samsung Smart TV</td>
                                    <td><span class="badge badge-warning">Pending</span></td>
                                    <td class="pt-2 pb-0"><canvas id="bar4" width="40" height="40"></canvas></td>
                                </tr>
                                <tr>
                                    <th scope="row"><a class="text-primary">OR7429</a></th>
                                    <td>iPhone 6 Plus</td>
                                    <td><span class="badge badge-danger">Delivered</span></td>
                                    <td class="pt-2 pb-0"><canvas id="bar5" width="40" height="40"></canvas></td>
                                </tr>
                                <tr>
                                    <th scope="row"><a class="text-primary">OR9842</a></th>
                                    <td>Call of Duty IV</td>
                                    <td><span class="badge badge-success">Shipped</span></td>
                                    <td class="pt-2 pb-0"><canvas id="bar6" width="40" height="40"></canvas></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer white py-3 d-flex justify-content-between">
                        <button class="btn btn-primary btn-md px-3 my-0 mr-0">Place New Order</button>
                        <button class="btn btn-light btn-md px-3 my-0 ml-0">View All Orders</button>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Section: Block Content -->


</div>